{% extends 'base.html' %}

<!-- Content block -->
{% block content %}
<div class="container-fluid">
    <h3 class="text-center m-50 p-20"><span>ARTICLES BY {{id|upper()}}</span></h3>
    {% for article in article %}
    <div class="row p-30">
        <div class="col-md-3 d-flex justify-content-center ">
            <img class="card-img-top"src="{{article.urlToImage}}" width= "100%" alt="">
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card-body">
                <a href="{{ article.url }}" target="_blank">
                    <h5 class="card-title">Author(s): {{ article.author }}</h5>
                </a> 
                <p class="card-text">{{article.description}}</p> 
                <div class="card-footer">
                    <p><span>Source:</span> {{id|title()}}</p>                     
                    <p><span>Date published:</span> {{article.publishedAt}}</p> 
                </div>
                                    
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}